# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Models
models/*.joblib
models/*.pkl

# Large data
data/raw/
data/full/
*.zip

# Local ChromaDB persistent storage
data/chroma_db/

# ChromaDB cache
.chroma/

# OS
.DS_Store
Thumbs.db

data/processed/article_embeddings.npy
data/processed/article_metadata.csv